# Node.js resources
node_modules/

# Hugo-generated assets
public/
resources/

# Link checker executable and output
bin/htmltest
tmp/

# Yarn error output
yarn-error.log

# Ignore Dropbox files
.DS_Store
