#event-hero {
    background-image: url(/img/2020-bengaluru/backdrop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

#event-title {
    color: blue !important;
}

#event-date {
    color: blue;
}
