.sidebar
  background-color: $light

  .event-list
    text-transform: uppercase

    .year
      &-title
        font-size: 1.5rem
        margin-bottom: 1rem

      & + .year
        margin-top: 1rem

    .month
      &-title
        font-size: 1.25rem
        margin-bottom: .5rem

      & + .month
        margin-top: 1.5rem

      ul.events
        li.events-item
          line-height: 120%
          display: flex
          flex-direction: row
          justify-content: space-between
        
          & + li
            margin-top: .5rem
