{{ $title := .Title }}
{{ $tag   := .Params.tag }}
{{ $url   := cond (eq .Params.link nil) (printf "/events/%s" .Params.tag) .Params.link }}
{{ $month := .Params.date | string | dateFormat "January" }}
{{ $day   := .Params.date | dateFormat "2" }}
{{ $year  := .Params.date | dateFormat "2006"}}
{{ $fmt   := printf "%s %s, %s" $month $day $year }}
{{ $img   := .Params.img }}
<div class="column is-one-third">
  <a href="{{ $url }}">
    <div class="card">
      <div class="card-content content">
        <h2>
          {{ $title }}
        </h2>

        <p class="has-text-weight-light">
          {{ $fmt }}
        </p>

        {{ with $img }}
        <img src="{{ . }}">
        {{ end }}
      </div>
    </div>
  </a>
</div>
