.hero {
    background-image: url(/img/2019-amsterdam/backdrop.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.hero.is-light .title {
    color: white;
}

.has-text-weight-medium {
    color: white;
    }