{{ $params     := .CurrentSection.Params }}
{{ $organizers := $params.organizers }}
{{ $extraTeams := $params.extra_teams }}
{{ $tag        := index (split .CurrentSection.File "/") 1 }}

{{ with $organizers }}
{{ template "people" (dict "name" "Organizers" "people" . "tag" $tag) }}
{{ end }}

{{ with $extraTeams }}
{{ range . }}
{{ template "people" (dict "name" .name "people" .members "tag" $tag) }}
{{ end }}
{{ end }}

{{ define "people" }}
{{ $tag := .tag }}
<section class="section">
  <div class="container">
    <p class="title is-size-3">
      {{ .name }}
    </p>

    <div class="columns is-multiline margin-top">
      {{ range .people }}
      {{ partial "events/person.html" (dict "person" . "tag" $tag) }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}