{{ $events := where site.RegularPages "Section" "events" }}
{{ $byYear := $events.GroupByDate "2006" }}
<section class="section">
  <div class="container">
    <p class="title is-size-2 is-size-3-mobile has-text-weight-medium is-spaced">
      Upcoming
    </p>

    {{ range $byYear }}
    {{ $year := .Key }}
    <p class="subtitle is-size-3 is-size-4-mobile">
      {{ $year }}
    </p>

    <div class="columns is-multiline">
      {{ range (.Pages.GroupByDate "January").Reverse }}
      {{ $month := .Key }}
      <div class="column is-half">
        <p class="title is-size-4 is-size-5-mobile is-spaced">
          {{ $month }}
        </p>

        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <tbody>
            {{ range .Pages }}
            {{ $day := .Date | dateFormat "January 2" }}
            <tr class="is-size-5">
              <td>
                <a href="{{ .RelPermalink }}">
                  {{ .Title }}
                </a>
              </td>
              <td>
                {{ $day }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>

  <hr />

  <div class="container">
    <p class="title is-size-3 is-size-4-mobile is-spaced">
      All events
    </p>

    {{ range $byYear }}
    <p class="subtitle">
      {{ .Key }}
    </p>

    <div class="columns">
      <div class="column is-half">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <tbody>
            {{ range .Pages.Reverse }}
            {{ $date := .Date | dateFormat "January 2" }}
            <tr class="is-size-5">
              <td>
                <a href="{{ .RelPermalink }}">
                  {{ .Title }}
                </a>
              </td>
              <td>
                {{ $date }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
    {{ end }}
  </div>
</section>
