{{ $eventUrl := .Params.url }}
{{ $start    := .Date }}
{{ $end      := .Params.end }}
{{ $location := .Params.location }}
{{ $country  := $location.country }}
{{ $city     := $location.city }}
{{ $venue    := $location.venue }}
{{ $social   := .Params.social }}
{{ $title    := .Title }}
{{ $event    := .CurrentSection.Title }}
{{ $mainUrl  := .CurrentSection.RelPermalink }}
{{ $isRoot   := eq .CurrentSection .FirstSection }}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-1 is-size-2-mobile has-text-weight-light is-spaced">
        {{ $title }}
      </p>

      {{ if and (not $isRoot) (ne .File.LogicalName "_index.md") }}
      <p class="subtitle has-text-weight-bold">
        <a href="{{ $mainUrl }}">
          {{ $event | upper }}
        </a>
      </p>
      {{ end }}

      {{ if or $start $location }}
      <div class="is-size-3 is-size-4-mobile is-spaced">
        {{ with $start }}
        {{ $month    := dateFormat "January" . }}
        {{ $startDay := dateFormat "2" . }}
        {{ $year     := dateFormat "2006" . }}
        <p class="has-text-weight-light">
          {{ $month | upper }} {{ $startDay }}{{ with $end }}&ndash;{{ dateFormat "2" (time .) }}{{ end }}, {{ $year }}
        </p>
        {{ end }}

        {{ with $location }}
        <br />

        <p class="is-size-4 is-size-5-mobile">
          {{ with .city }}{{ . }}{{ end }}
          {{- with .country  }}, {{ . }}{{ end }}
          {{ if .venue }}
    
          {{ if .url }}
          &nbsp;&nbsp;|&nbsp;&nbsp;

          <a class="has-text-weight-bold" href="{{ .url }}">
            {{ .venue }}
          </a>
          {{ else }}
          {{ .venue }}
          {{ end }}
          {{ end }}
        </p>

        {{ end }}
      </div>
      {{ end }}

      {{ with $social }}
      <br />
      {{ partial "social-buttons.html" (dict "social" .) }}
      {{ end }}
    </div>
  </div>
</section>
