{{ $eventUrl  := .Params.url }}
{{ $date      := .Params.date | dateFormat "January 2, 2006" }}
{{ $location  := .Params.location }}
{{ $locName   := $location.name }}
{{ $locUrl    := $location.url }}
{{ $social    := .Params.social }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2 is-size-3-mobile has-text-dark is-spaced">
        {{ .Title }}
      </p>

      <div class="subtitle is-size-4 is-size-5-mobile">
        <p class="has-text-grey-dark">
          {{ $date }}
        </p>

        <a class="subtitle has-text-grey" href="{{ $locUrl }}">
          {{ $locName }}
        </a>
      </div>

      {{ with $eventUrl }}
      <a class="is-size-5 is-size-6-mobile" href="{{ . }}" target="_blank">
        {{ . }}
      </p>
      {{ end }}

      {{ with $social }}
      <br />
      {{ partial "social-buttons.html" (dict "social" .) }}
      {{ end }}
    </div>
  </div>
</section>
