{{ $url     := .RelPermalink }}
{{ $title   := .CurrentSection.Title }}
{{ $allowed := site.Params.allowed_event_pages }}

{{ with .CurrentSection }}
{{ $isEventRoot := eq $url .RelPermalink }}
<a class="left-menu navbar-item is-light has-text-weight-bold{{ if $isEventRoot }} is-active{{ end }}" href="{{ .RelPermalink }}">
  {{ $title }} Overview
</a>

{{ range .Pages }}
{{ if and .Title (in $allowed .File.BaseFileName) }}
{{ $isActive := eq $url .RelPermalink }}
<a class="left-menu navbar-item is-light has-text-weight-bold{{ if $isActive }} is-active{{ end }}" href="{{ .RelPermalink }}">
  {{ .Title }}
</a>
{{ end }}
{{ end }}
{{ end }}