{{ $tag := .tag }}
<div class="column is-one-quarter">
  <div class="card person">
    <div class="card-content">
      <p class="title">
        {{ if .speaker.homepage }}
        <a href="{{ .homepage }}">
          {{ .speaker.name }}
        </a>
        {{ else }}
        {{ .speaker.name }}
        {{ end }}
      </p>

      {{ with .speaker.image }}
      {{ $src := printf "img/%s/%s" $tag . | relURL }}
      <img class="person-image" src="{{ $src }}">
      {{ end }}

      {{ with .speaker.bio }}
      <p>
        {{ . | markdownify }}
      </p>
      {{ end }}

      {{ with .speaker.twitter }}
      <br />

      <a class="button is-twitter-blue">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
      </a>
      {{ end }}
    </div>
  </div>
</div>
