<div class="column is-one-third">
  <div class="card person">
    <div class="card-content">
      <p class="title">
        {{ if .homepage }}
        <a href="{{ .homepage }}">
          {{ .name }}
        </a>
        {{ else }}
        {{ .name }}
        {{ end }}
      </p>

      {{ with .image }}
      {{ $src := printf "img/people/%s" . | relURL }}
      <img class="person-image" src="{{ $src }}">
      {{ end }}

      {{ with .bio }}
      <p>
        {{ . | markdownify }}
      </p>
      {{ end }}

      {{ with .twitter }}
      <br />

      <a class="button is-twitter-blue">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
      </a>
      {{ end }}
    </div>
  </div>
</div>
