{{ $tag := .tag }}
<div class="column is-one-third">
  <article class="media is-speaker-card">
    <figure class="media-left has-extra-right-margin">
      {{ with .person.image }}
      {{ $src := printf "img/%s/%s" $tag . | relURL }}
      <p class="image is-96x96">
        <img src="{{ $src }}">
      </p>
      {{ end }}
    </figure>

    <div class="media-content">
      <p class="title is-size-4 is-size-5-mobile">
        {{ if .person.homepage }}
        <a href="{{ .homepage }}">
          {{ .person.name }}
        </a>
        {{ else }}
        {{ .person.name }}
        {{ end }}

        {{ with .person.bio }}
        <p>
          {{ . | markdownify }}
        </p>
        {{ end }}

        {{ with .person.twitter }}
      <br />

      <a class="button is-twitter-blue" href="{{ . }}" target="_blank">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
      </a>
      {{ end }}
      </p>
    </div>
  </article>
</div>
