{{ $tag      := index (split .CurrentSection.File "/") 1 }}
{{ $sponsors := .CurrentSection.Params.sponsors }}

{{ with $sponsors }}
<hr />

<section class="section">
  <div class="container">
    <p class="title is-size-3 is-size-4-mobile has-text-weight-light">
      Sponsors
    </p>

    <hr class="thick-hr" />

    {{ range . }}
    {{ $level   := .level }}
    {{ $size    := .size | default "medium" }}
    {{ $orgs    := .orgs }}
    <div class="card">
      <div class="card-content">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-light">
          {{ $level | upper }}
        </p>

        <div class="container s-logos {{ $size }}">
          <div class="columns is-multiline is-variable is-centered is-vcentered">
            {{ range $orgs }}
            {{ $img := printf "img/%s/%s" $tag .logo | relURL }}
            <div class="column is-narrow is-one-quarter has-text-centered">
              <div class="s-logos-item">
                <a href="{{ .url }}" target="_blank">
                  <img src="{{ $img }}">
                </a>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
