{{ $pageType     := .Kind }}
{{ $isEventsPage := eq .Section "events" }}
<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body class="page is-{{ $pageType }}-page">
    <main class="main{{ if $isEventsPage }} has-navbar-fixed-top{{ end }}">
      {{ block "main" . }}
      {{ end }}
    </main>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}
  </body>
</html>
