{{ $url    := .RelPermalink }}
{{ $title  := .Title }}
{{ $month  := .Date | dateFormat "January" }}
{{ $year   := .Date | dateFormat "2006" }}
{{ $day    := .Date | dateFormat "2" }}
{{ $where  := .Params.location }}
{{ $social := .Params.social }}
<div class="column is-half">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <span class="title is-size-6 has-text-primary">
          Kubernetes Community Day
        </span>

        <p class="title is-size-3 is-size-4-mobile">
          <a class="has-text-white-primary" href="{{ $url }}">
            {{ $title | upper }}
          </a>
        </p>

        <h4 class="title has-text-weight-bold has-text-black{{ if $where }} is-spaced{{ end }}">
          {{ $month }} {{ $day }}{{ with .Params.end }}&ndash;{{ dateFormat "2" (time .) }}{{ end }}, {{ $year }}
        </h4>

        {{ with $where }}
        {{ $venuePage    := printf "%s/venue.md" $url | relURL }}
        {{ $hasVenuePage := fileExists $venuePage }}
        {{ if $hasVenuePage }}
        {{ $venuePageUrl := printf "%s/venue" $url | relURL }}
        <a class="subtitle is-size-4 is-size-5-mobile has-text-primary has-text-weight-medium" href="{{ $venuePageUrl }}">
          {{ .venue }}
        </a>
        {{ else }}
        <p class="subtitle is-size-4 is-size-5-mobile has-text-grey">
          {{ .venue }}
        </p>
        {{ end }}
        {{ end }}
      </div>

      {{ with $social }}
      {{ partial "social-buttons.html" (dict "margin" true "centered" false "text" false "social" .) }}
      {{ end }}
    </div>
  </div>
</div>
