{{ $img  := printf "img/places/%s" .image }}
{{ $url  := printf "events/%s" .tag | relURL }}
{{ $date := .date | dateFormat "January 2, 2006" }}
<div class="column is-one-third">
  <a href="{{ $url }}">
    <div class="card event-card">
      <div class="card-content">
        <div class="content has-text-centered">
          <h2 class="has-text-weight-medium has-text-primary">
            {{ .title }}
          </h2>

          <h3 class="has-text-weight-light">
            {{ $date }}
          </h3>

          <a href="{{ .location.url }}" target="_blank">
            {{ .location.name }}
          </a>
        </div>
      </div>
    </div>
  </a>
</div>
