{{ $today  := now | dateFormat "2006-01-02" }}
{{ $events := site.Data.events }}
{{ $future := where $events ".start" "gt" $today }}
{{ $past   := where $events ".start" "le" $today }}
<div class="container">
  <p class="is-size-2 is-size-3-mobile has-text-weight-light">
    Upcoming events
  </p>

  <br />

  <div class="columns is-multiline">
    {{ range $future }}
    {{ partial "event.html" . }}
    {{ end }}
  </div>

  <p class="is-size-2 is-size-3-mobile has-text-weight-light">
    Past events
  </p>

  <br />

  <div class="columns is-multiline">
    {{ range $past }}
    {{ partial "event.html" . }}
    {{ end }}
  </div>
</div>
