{{ $url    := .RelPermalink }}
{{ $title  := .Title }}
{{ $month  := .Date | dateFormat "January" }}
{{ $year   := .Date | dateFormat "2006" }}
{{ $day    := .Date | dateFormat "2" }}
{{ $where  := .Params.location }}
{{ $social := .Params.social }}
<div class="column is-half">
  <div class="card has-background-white-bis">
    <div class="card-content">
      <div class="content">
        <span class="title is-size-6 has-text-primary">
          Kubernetes Community Day
        </span>

        <p class="is-size-4 is-size-5-mobile has-text-weight-bold has-text-primary">
          <a href="{{ $url }}">
            {{ $title | upper }}
          </a>
        </p>

        <h4 class="has-text-weight-bold">
          {{ $month }} {{ $day }}{{ with .Params.end }}&ndash;{{ dateFormat "2" (time .) }}{{ end }}, {{ $year }}
        </h4>

        <a class="is-size-6 has-text-grey" href="{{ $where.url }}" target="_blank">
          {{ $where.venue }}
        </a>

        {{ with $social }}
        {{ partial "social-buttons.html" (dict "margin" true "centered" false "text" false "social" .) }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
