{{ $logo := printf "admin/img/logos/%s" site.Params.footer.logo | relURL }}
{{ $menu := site.Menus.main }}
{{ $year := now.Year }}
<footer class="footer">
  <div class="container">
    <div class="columns is-variable">
      <div class="column is-one-quarter">
        <img class="is-footer-logo" src="{{ $logo }}">
      </div>

      <div class="column">
        <ul>
          {{ range $menu }}
          <li>
            <a class="is-size-5 is-size-6-mobile has-text-grey-light" href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>

        <hr class="thick-hr" />

        <p class="has-text-weight-light copyright">
          Copyright &copy; {{ $year }} The Linux Foundation<sup>&reg;</sup>. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
