{{ $home      := .IsHome }}
{{ $app       := resources.Get "js/app.js" | resources.ExecuteAsTemplate "js/app.js" . | minify | fingerprint }}
{{ $schedSlug := .CurrentSection.Params.sched_slug }}
{{ $isProgram := eq .File.BaseFileName "program" }}

{{ if not $home }}
{{ $anchor := resources.Get "js/anchor.min.js" }}
<script src="{{ $anchor.RelPermalink }}" integrity="{{ $anchor.Data.Integrity }}"></script>
{{ end }}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ $app.RelPermalink }}" integrity="{{ $app.Data.Integrity }}"></script>

{{ if $home }}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{ end }}

{{ if and $schedSlug $isProgram }}
{{ $schedEmbedUrl := printf "https://%s.sched.org/js/embed.js" $schedSlug }}
<script src="{{ $schedEmbedUrl }}"></script>
{{ end }}
