{{ $isEvent := and (eq .Section "events") (ne .CurrentSection .FirstSection) }}
{{ $home    := site.BaseURL }}
{{ $logo    := printf "admin/img/logos/%s" site.Params.navbar.logo | relURL }}
{{ $menu    := site.Menus.navbar }}
{{ $here    := .RelPermalink }}
{{ $section := .CurrentSection }}
{{ $url     := .RelPermalink }}
{{ $allowed := site.Params.allowed_event_pages }}
<nav class="navbar is-primary is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ $home }}">
      <img src="{{ $logo }}" alt="Kubernetes Community Days navbar logo">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    {{ if $isEvent }}
    {{ $title := .CurrentSection.Title }}
    <div class="navbar-start">
      {{ with .CurrentSection }}
      {{ $isEventRoot := eq $url .RelPermalink }}
      <a class="navbar-item is-light has-text-weight-bold{{ if $isEventRoot }} is-active{{ end }}" href="{{ .RelPermalink }}">
        {{ $title }} Overview
      </a>

      {{ range .Pages }}
      {{ if and .Title (in $allowed .File.BaseFileName) }}
      {{ $isActive := eq $url .RelPermalink }}
      <a class="navbar-item is-light has-text-weight-bold{{ if $isActive }} is-active{{ end }}" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
    {{ end }}

    <div class="navbar-end">
      {{ range $menu }}
      {{ $isActive := hasPrefix $url .URL }}
      <a class="navbar-item has-text-weight-bold{{ if $isActive }} is-active{{ end }}" href="{{ .URL }}">
        {{ .Name }}
      </a>
      {{ end }}
    </div>
  </div>
</nav>
