{{ $isEvent  := and (eq .Section "events") (ne .CurrentSection .FirstSection) }}
{{ $home     := site.BaseURL }}
{{ $logo     := printf "admin/img/logos/%s" site.Params.navbar.logo | relURL }}
{{ $menu     := site.Menus.main }}
{{ $here     := .RelPermalink }}
{{ $section  := .CurrentSection }}
{{ $url      := .RelPermalink }}
{{ $dropdown := .CurrentSection.Params.dropdown_menu }}
<nav class="navbar is-primary is-fixed-top" x-data="{ open: false }">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ $home }}">
      <img src="{{ $logo }}" alt="Kubernetes Community Days navbar logo">
    </a>

    <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu" @click="open = !open">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
  </div>

  <div id="navbar-menu" class="navbar-menu" :class="{ 'is-active': open }">
    {{ if $isEvent }}
    <div class="navbar-start">
      {{ if $dropdown }}
      {{ partial "events/dropdown.html" . }}
      {{ else }}
      {{ partial "events/menu.html" . }}
      {{ end }}
    </div>
    {{ end }}

    <div class="navbar-end">
      {{ range $menu }}
      {{ $isActive := hasPrefix $url .URL }}
      <a class="navbar-item has-text-weight-bold{{ if $isActive }} is-active{{ end }}" href="{{ .URL }}">
        {{ .Name }}
      </a>
      {{ end }}
    </div>
  </div>
</nav>
