{{ $isHome  := .IsHome }}
{{ $isEvent := and (eq .Section "events") (ne .CurrentSection .FirstSection) }}
{{ $home    := site.BaseURL }}
{{ $logo    := printf "img/logos/%s" site.Params.logo | relURL }}
{{ $menu    := site.Menus.navbar }}
{{ $here    := .RelPermalink }}
{{ $section := .CurrentSection }}
{{ $url     := .RelPermalink }}
{{ $allowed := site.Params.allowed_event_pages }}
<nav class="navbar is-fixed-top has-shadow">
  <div class="container">
    <div class="navbar-brand">
      {{ if not $isHome }}
      <a class="navbar-item" href="{{ $home }}">
        <img src="{{ $logo }}" alt="Kubernetes Community Days navbar logo">
      </a>
      {{ end }}
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbar-menu" class="navbar-menu">
      {{ if $isEvent }}
      <div class="navbar-start">
        {{ range $menu }}
        {{ $isActive := hasPrefix $url .URL }}
        <a class="navbar-item is-tab has-text-weight-bold{{ if $isActive }} is-active{{ end }}" href="{{ .URL }}">
          {{ .Name }}
        </a>
        {{ end }}
      </div>
      {{ end }}

      <div class="navbar-end">
        {{ if $isEvent }}
        {{ with .CurrentSection }}
        {{ $isEventRoot := eq $url .RelPermalink }}
        <a class="navbar-item is-tab has-text-weight-bold{{ if $isEventRoot }} is-active{{ end }}" href="{{ .RelPermalink }}">
          Overview
        </a>

        {{ range .Pages }}
        {{ if .Title }}
        {{ $isActive := eq $url .RelPermalink }}
        <a class="navbar-item is-tab has-text-weight-bold{{ if $isActive }} is-active{{ end }}" href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}

        {{ if not $isEvent }}
        {{ range $menu }}
        {{ $isActive := hasPrefix $url .URL }}
        <a class="navbar-item is-tab has-text-weight-bold{{ if $isActive }} is-active{{ end }}" href="{{ .URL }}">
          {{ .Name }}
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</nav>
