{{ $announcement := site.Params.covid_announcement | markdownify }}
<article class="message is-danger">
  <div class="message-header">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <span class="icon">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>

        <div class="level-item">
          COVID-19 Announcement
        </div>
      </div>
    </nav>
  </div>
  <div class="message-body">
    {{ $announcement }}
  </div>
</article>