{{ $upcoming   := (slice) }}
{{ $events     := (slice) }}
{{ $past       := (slice) }}
{{ $eventPages := where site.Sections "Section" "events" }}
{{ range $eventPages }}
{{ range .Sections }}
{{ if .Date.After now }}
{{ $upcoming = $upcoming | append . }}
{{ end }}
{{ end }}
{{ end }}

<p class="title is-size-2 is-size-3-mobile has-text-centered has-text-weight-medium">
  Upcoming Events
</p>

<div class="container">
  <div class="columns is-variable is-1 is-multiline">
    {{ range $upcoming }}
    {{ partial "event-tile.html" . }}
    {{ end }}
  </div>
</div>
