{{ $upcoming   := (slice) }}
{{ $events     := (slice) }}
{{ $past       := (slice) }}
{{ $eventPages := where site.Sections "Section" "events" }}
{{ range $eventPages }}
{{ range .Sections }}
{{ if .Date.After now }}
{{ $upcoming = $upcoming | append . }}
{{ end }}
{{ end }}
{{ end }}

<section class="section">
  <p class="title is-size-3 is-size-4-mobile">
    {{ "Upcoming Events" | upper }}
  </p>

  <hr class="thick-hr" />
  
  <div class="container">
    <div class="columns is-variable is-2 is-multiline">
      {{ range $upcoming }}
      {{ partial "event-tile.html" . }}
      {{ end }}
    </div>
  </div>
</section>
