{{ $description := site.Params.description | markdownify }}
{{ $logo        := printf "admin/img/logos/%s" site.Params.hero.logo }}
{{ $twitter     := site.Params.social.twitter }}
{{ $facebook    := site.Params.social.facebook }}

<section class="hero is-medium banner">
  <div class="hero-body">
    <div class="container">
      <div class="main-logo-container">
        <img class="main-logo" src="{{ $logo }}" alt="Kubernetes Community Days main logo">
      </div>
    </div>
  </div>
</section>
