{{ $events := . }}
{{ $upcoming := slice }}
{{ $past     := slice }}
{{ range $events }}
{{ if .Date.After now }}
{{ $upcoming = $upcoming | append . }}
{{ else }}
{{ $past = $past | append . }}
{{ end }}
{{ end }}

<section class="section has-background-light">
  <div class="container has-text-left">
    <div class="event-list">
      <p class="title is-size-4 is-size-5-mobile has-text-weight-medium">
        UPCOMING EVENTS
      </p>

      {{ with $upcoming }}
      {{ range (.GroupByDate "2006").Reverse }}
      <div class="year">
        <p class="year-title">
          {{ .Key }}
        </p>
        
        {{ range (.Pages.GroupByDate "January").Reverse }}
        <div class="month">
          <p class="month-title">
            {{ .Key }}
          </p>
    
          <ul class="events">
            {{ range .Pages }}
            {{ $start := dateFormat "Jan 2" .Date }}
            <li>
              {{ $start }}{{ with .Params.end }}&ndash;{{ dateFormat "2" (time .) }}{{ end }}
              &nbsp;
              <a href="{{ .RelPermalink }}">
                {{ .Params.location.city }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>

    <hr class="thick-hr" />

    <div class="event-list">
      <p class="title is-size-4 is-size-5-mobile has-text-weight-medium">
        PAST EVENTS
      </p>

      {{ with $past }}
      {{ range .GroupByDate "2006" }}
      <div class="year">
        <p class="year-title">
          {{ .Key }}
        </p>

        {{ range (.Pages.GroupByDate "January").Reverse }}
        <div class="month">
          <p class="month-title">
            {{ .Key }}
          </p>

          <ul class="events">
            {{ range .Pages }}
            {{ $start := dateFormat "Jan 2" .Date }}
            <li>
              {{ $start }}{{ with .Params.end }}&ndash;{{ dateFormat "2" (time .) }}{{ end }}
              &nbsp;
              <a href="{{ .RelPermalink }}">
                {{ .Params.location.city }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
