#event-hero {
  background-image: url(/img/2020-quebeccity/quebec.jpg);
  background-size: cover;
  background-position: center;
}

#event-title {
  color: white !important;
}

#event-date {
  color: white;
}
