#event-hero {
    background-image: url("/img/2020-ottawa/parliament2.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

#event-title {
    color: white !important;
}

#event-date {
    color: white;
}
