{{ $events     := (slice) }}
{{ $eventPages := where site.Sections "Section" "events" }}
{{ range $eventPages }}
{{ range .Sections }}
{{ $events = $events | append . }}
{{ end }}
{{ end }}
<table>
  <thead>
    <tr>
      <th>
        City
      </th>
      <th>
        CFP closes
      </th>
      <th>
        Event starts
      </th>
    </tr>
  </thead>
  <tbody>
    {{ range $events }}
    {{ if .Params.cfp_deadline }}
    {{ $cfp   := time .Params.cfp_deadline }}
    {{ $start := dateFormat "January 1, 2006" .Date }}
    {{ if ($cfp.After now) }}
    {{ $cfpUrl := printf "%s/cfp" .RelPermalink | relURL }}
    <tr>
      <td>
        <a href="{{ $cfpUrl }}">
          {{ .Title }}
        </a>
      </td>
      <td>
        {{ dateFormat "January 1, 2006" $cfp }}
      </td>
      <td>
        {{ $start }}
      </td>
    </tr>
    {{ end }}
    {{ end }}
    {{ end }}
  </tbody>
</table>
