{{ $eventId := .Get "eventId" }}
{{ $iframeContainerHeight := .Get "iframeContainerHeight" | default 425 }}

<div id="eventbrite-widget-container-{{$eventId}}"></div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',

<div id="eventbrite-widget-container-{{$eventId}}"></div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    // var exampleCallback = function() {
    //     console.log('Order complete!');
    // };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '{{$eventId}}',
        iframeContainerId: 'eventbrite-widget-container-{{$eventId}}',

        // Optional
        iframeContainerHeight: {{$iframeContainerHeight}},  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        // onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
